[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
voyageai = "*"
scholarly = "*"
matplotlib = "*"
pytest = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
lint = "Pylance"
format = "black ."
